.logo img{
    width: 100%;
}
.header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    background-color: #fffef8;
}
h1 {
    color: #c2949c;
    font-family: fangsong;
    font-size: 72px;
    margin-bottom: 0px;
}
.header-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-info P{
    font-family: fangsong;
    color: #7a595f;
}  
@media screen and (max-width: 768px){
    .header-info{
        grid-template-columns: 1fr 2fr;
    }
    .logo{
        width:45px;
        height: 45px;
    }
    .header-info h1{
        font-size: 2rem;
    }
    .header-info p{
        font-size: 1rem;
    }
    nav{
        display:none;
    }
}
