.set-width{
    width: 80%;
    margin: 0 auto;
}
.home-h2 {
    font-size: 65px;
    font-family: ui-monospace;
    color: #7a6464;
    margin-bottom: 22px;
}
.home-header p{
    font-size: 15px;
}
.p-style{
    color: #604f4f;
}
.home-shop-btn {
    text-decoration: none;
    background-color: #7a6464;
    padding: 9px 15px;
    margin-top: 12px;
    display: inline-block;
    color: #F9F9F8;
    border-radius: 10px;
    cursor: pointer;
}
ul.featured-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 0;
}
.featured-item img{
    width: 100%;
    height: 250px;
}
.featured-sets-section {
    margin-top: 100px;
}
.featured-collection {
    text-align: center;
}
.h3-style{
    font-size: 35px;
    color: #7a6464;
}
.collection-name{
    text-align: center;
}
.featured-item a{
    text-decoration: none;
    transition: all 2s;
    display: inline-block;
}
.featured-item a:hover{
    transform: scale(1.1);
}
.collection-name {
    text-align: center;
    display: block;
    padding-top: 15px;
    color: #604f4f;
}
.about-lumea.set-width {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 111px;
}
.about-cover-img img{
    width: 100%;
    height: 300px
}
.about-lumea p{
    font-size: 20px;
}
.read-more{
    text-decoration: none;
}
.testimonials-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 300px;
}
.testimonials h3{
    text-align: center;
}
.testimonials.set-width {
    margin-top: 90px;
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    h2.home-h2 {
        font-size:25px;
    }
    .home-header p{
        font-size: 12px
    }
    .h3-style{
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px){ 

    .about-lumea.set-width h3 {
        text-align: center;
    }
    .testimonials.set-width, .featured-sets-section, .about-lumea.set-width{
        margin-top: 25px;
    }
    ul{
        padding: 0px;
    }
    ul.featured-list{
        display:block;
    }
    .about-lumea.set-width, .testimonials-list, .subscribtion-section{
        display: block;
    }
    .about-lumea p{
        font-size: 1rem;
    }
    .foother-content, .footer-page-list{
        display:block;
        padding: 16px 26px;
    }
    ul.footer-page-list li:first-child {
       list-style-type: disc;
   }
}