.single-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 45px auto;
    grid-gap: 45px;
}
.single-product-name{
    margin-top: 0;
    font-size: 35px;
    color: #7a6464;
}
select.product-size {
    width: 100%;
    height: 45px;
}
.add-to-card{
    background-color: #7a6464;
    margin-top: 15px;
    padding: 17px;
    outline: none;
    border: none;
    border-radius: 11px;
    width: 100%;
    cursor: pointer;
}