.register-form{
    display: flex;
    flex-direction: column;
}
.login-form-input-style{
    padding: 17px 12px;
    margin-bottom: 15px;
}
.hint-text{
    color:#808080;
    font-size: 12px;
}
.register-button {
    background-color: #7a6464;
    margin-top: 15px;
    padding: 17px;
    outline: none;
    border: none;
    border-radius: 11px;
}